* {
  margin: 0 auto;
}
img {
  max-width: 100%;
}

#section_portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding-top: 40px;
}
hr {
  background-color: #eba8ef;
  padding: 2px;
  margin-bottom: 5px;
}

.video_1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.video_2 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.podcastlogo {
  grid-column: 3/4;
  grid-row: 1/2;
}
.lykkehjul {
  grid-column: 1/2;
  grid-row: 2/3;
}
.logo1 {
  grid-column: 2/4;
  grid-row: 2/3;
}
.some1 {
  grid-column: 1/2;
  grid-row: 3/4;
}
.some2 {
  grid-column: 2/3;
  grid-row: 3/4;
}
.scene1 {
  grid-column: 3/4;
  grid-row: 3/4;
}
.scene2 {
  grid-column: 1/2;
  grid-row: 4/5;
}
.scene3 {
  grid-column: 2/3;
  grid-row: 4/5;
}
.klip1 {
  grid-column: 3/4;
  grid-row: 4/5;
}
.klip2 {
  grid-column: 1/2;
  grid-row: 6/7;
}
.model1 {
  grid-column: 2/3;
  grid-row: 6/7;
}
.model2 {
  grid-column: 3/4;
  grid-row: 6/7;
}
.model3 {
  grid-column: 1/2;
  grid-row: 7/8;
}
.model4 {
  grid-column: 2/3;
  grid-row: 7/8;
}
.model5 {
  grid-column: 3/4;
  grid-row: 7/8;
}
.model6 {
  grid-column: 1/2;
  grid-row: 8/9;
}
.model7 {
  grid-column: 2/3;
  grid-row: 8/9;
}

@media (max-width: 600px) {
  #section_portfolio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 30px;
  }
  .video_1 {
    grid-column: 1/1;
    grid-row: 1/1;
  }
  .video_2 {
    grid-column: 1/1;
    grid-row: 2/2;
  }
  .lykkehjul {
    grid-column: 1/1;
    grid-row: 3/3;
  }

  .some1 {
    grid-column: 1/1;
    grid-row: 4/4;
  }
  .some2 {
    grid-column: 1/1;
    grid-row: 5/5;
  }
  .podcastlogo {
    grid-column: 1/1;
    grid-row: 6/6;
  }
  .scene1 {
    grid-column: 1/1;
    grid-row: 7/7;
  }
  .scene2 {
    grid-column: 1/1;
    grid-row: 8/8;
  }
  .scene3 {
    grid-column: 1/1;
    grid-row: 9/9;
  }
  .klip1 {
    grid-column: 1/1;
    grid-row: 10/10;
  }
  .klip2 {
    grid-column: 1/1;
    grid-row: 11/11;
  }
  .model1 {
    grid-column: 1/1;
    grid-row: 12/12;
  }
  .model2 {
    grid-column: 1/1;
    grid-row: 13/13;
  }
  .model3 {
    grid-column: 1/1;
    grid-row: 7/8;
  }
  .model4 {
    grid-column: 1/1;
    grid-row: 14/14;
  }
  .model5 {
    grid-column: 1/1;
    grid-row: 15/15;
  }
  .model6 {
    grid-column: 1/1;
    grid-row: 16/16;
  }
  .model7 {
    grid-column: 1/1;
    grid-row: 17/17;
  }
}
